<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common :: head-fragment('Kintai Manager')"></head>
  <body>
    <nav
      th:replace="common :: header-fragment('Kintai Manager Attendance Sheet')"
    ></nav>
    <main class="container pt-5">
      <table border="1">
        <thead>
          <tr>
            <th>日付</th>
            <th>勤務開始</th>
            <th>勤務終了</th>
            <th>休憩開始</th>
            <th>休憩終了</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="dayOfWeek : ${dayOfWeekList}">
            <td th:text="${dayOfWeek}"></td>
          </tr>
        </tbody>
      </table>
    </main>
  </body>
  <footer th:replace="common :: footer-fragment"></footer>
</html>
