<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="common :: head-fragment('Kintai Manager')"></head>
  <body>
    <nav
      th:replace="common :: header-fragment('Kintai Manager Top Page')"
    ></nav>
    <main class="container pt-5">
      <div class="d-flex justify-content-center gap-3">
        <form action="/kintai-manager/attendance/start" method="post">
          <button type="submit" class="btn btn-outline-primary btn-lg">
            勤務開始
          </button>
        </form>
        <button type="button" class="btn btn-outline-success btn-lg">
          勤務終了
        </button>
      </div>
      <div class="d-flex justify-content-center gap-3 mt-4">
        <button type="button" class="btn btn-outline-secondary btn-lg">
          休憩開始
        </button>
        <button type="button" class="btn btn-outline-secondary btn-lg">
          休憩終了
        </button>
      </div>
    </main>
  </body>
  <footer th:replace="common :: footer-fragment"></footer>
</html>
